<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Headlines</title>
</head>
<body>
    <!-- display tags for each channel from rss_feeds -->
    <h1>Channels</h1>
    <ul>
    {% for channel in channels %}
        <li><a href="/{{channel}}">{{channel}}</a></li>
    {% endfor %}
    </ul>
    <h1>Headlines for {{ publication }} channel</h1>
    {% for article in articles %}
    <b><a href="{{article.link}}">{{article.title}}</a></b><br />    <i>{{article.published}}</i><br />
    <p>{{article.summary}}</p>
    <hr />
    {% endfor %}
    </body>
</html>